body {
  background-color: rgb(218, 218, 218);
  padding: 0.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

main.container main.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1;
}

main.container main.body h2 {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

main.container main.body div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  flex: 1;
}

main.container main.body div section {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  flex: 1;
  flex-basis: 200px;
  gap: 0.5rem;
}

main.container main.body div section header {
  display: flex;
  background-color: rgb(170, 170, 204);
  border-radius: 0.25rem;
  padding: 1rem;
}

main.container main.body div section.received header {
  background-color: rgb(161, 49, 49);
  color: white;
}

main.container main.body div section.in-production header {
  background-color: rgb(146, 11, 117);
  color: white;
}

main.container main.body div section.ready header {
  background-color: rgb(230, 173, 3);
  color: white;
}

main.container main.body div section.dispatched header {
  background-color: rgb(53, 53, 184);
  color: white;
}

main.container main.body div section.done header {
  background-color: rgb(38, 155, 48);
  color: white;
}

main.container main.body div section header h2 {
  font-size: 1.2rem;
}

main.container main.body div section main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main.container main.body div section main div.card {
  background-color: rgb(241, 241, 241);
  padding: 1rem;
  border-radius: 0.25rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-color: rgb(206, 206, 206);
  border-style: solid;
}

main.container main.body div section main div.card p.order-title {
  font-size: 1rem;
  font-weight: bold;
}

main.container main.body div section main div.card p.order-description {
  font-size: 0.8rem;
  white-space: pre-line;
}

main.container main.body div section main div.card div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

main.container main.body div section main div.card div button {
  appearance: none;
  border-width: 0;
  background-color: gray;
  padding: 0.5rem;
  border-radius: 0.25rem;
  flex: 1;
  color: white;
  cursor: pointer;
}

main.container main.body div section main div.card div button.production {
  background-color: rgb(146, 11, 117);
}

main.container main.body div section main div.card div button.ready {
  background-color: rgb(230, 173, 3);
}

main.container main.body div section main div.card div button.dispatch {
  background-color: rgb(53, 53, 184);
}

main.container main.body div section main div.card div button.done {
  background-color: rgb(38, 155, 48);
}

main.container main.body div section main div.card div button.remove {
  background-color: rgb(161, 49, 49);
}

main.container main.body div section footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: rgb(241, 241, 241);
  border-width: 2px;
  border-color: rgb(206, 206, 206);
  border-style: solid;
}

main.container main.body div section footer button {
  appearance: none;
  border-width: 0;
  background-color: gray;
  padding: 0.5rem;
  border-radius: 0.25rem;
  flex: 1;
  color: white;
  cursor: pointer;
}

main.container footer.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

main.container footer.footer .copyright {
  font-size: 0.75rem;
  font-weight: bold;
}
